<%= javascript_include_tag "search.js" %>

<p id="notice"><%= notice %></p>
<div id="header"></div>
<div id="main">
	<div id="member">
		<span id="sec_search">場所を検索</span>
		<%= link_to '場所作成', new_place_path, :style => "float:right;" %>
		<%= link_to 'ユーザー登録', new_person_path, :style => "float:right; margin-right: 5px;" %>
		<input type="text" id="search_box"><br>
		<span id="sec_place">あなたの行きたい場所は？</span>
		<div class="line"></div>
		<div id="place_main">
		</div>
	</div>
</div>
