<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Sample App</title>
    <link rel="stylesheet" type="text/css" href="./style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>    
    <script type="text/javascript" src="main.js"></script>
  </head>
  <body>
    <div id="header"></div>
    <div id="main">
      <div id="main_content">
        <span class="main_content_txt" style="font-size:1.4em;opacity:0.8;">現在この場所にいる人数は</span><br>
        <div class="main_content_txt_lcd">114514</div>
        <div class="main_content_boxi">
          Beacon UUID<br>
          <span id="beacon_uuid" style="font-size:0.8em;opacity:0.8;">e8a5389f-ca77-49f1-be75-c89834d61b37</span><br>
          Location<br>
          <span id="beacon_loc" style="font-size:0.8em;opacity:0.8;">慶應義塾大学湘南藤沢キャンパス ΔN204</span><br>          
        </div>
      </div>
      <div id="member">
        <span id="sec">この場所にいるユーザー</span>
        <div class="line"></div>
        <div id="member_main">
          <div class="member_desc">
            <img src="http://www.paper-glasses.com/api/twipi/hekou0202/normal" class="imagec" width="46" height="46">
            <span class="member_name">gucchan</span><br>
            <span class="member_tw_link">@hekou0202</span>
            <div style="clear:both;"></div>
          </div>
          <div class="member_desc">
            <img src="http://www.paper-glasses.com/api/twipi/Ndtn_/normal" class="imagec" width="46" height="46">
            <span class="member_name">nadechin</span><br>
            <span class="member_tw_link">@Ndtn_</span>
            <div style="clear:both;"></div>
          </div>
          <div class="member_desc">
            <img src="http://www.paper-glasses.com/api/twipi/shunki9/normal" class="imagec" width="46" height="46">
            <span class="member_name">shunkin</span><br>
            <span class="member_tw_link">@shunki9</span>
            <div style="clear:both;"></div>
          </div>
          <br><br><br>
          <div class="member_desc">
            <img src="http://www.paper-glasses.com/api/twipi/skjune12/normal" class="imagec" width="46" height="46">
            <span class="member_name">jingle</span><br>
            <span class="member_tw_link">@skjune9</span>
            <div style="clear:both;"></div>
          </div>
          <div class="member_desc">
            <img src="http://www.paper-glasses.com/api/twipi/usk_sfc/normal" class="imagec" width="46" height="46">
            <span class="member_name">usk</span><br>
            <span class="member_tw_link">@usk_sfc</span>
            <div style="clear:both;"></div>
          </div>
          <div class="member_desc">
            <img src="http://www.paper-glasses.com/api/twipi/chigakuishi/normal" class="imagec" width="46" height="46">
            <span class="member_name">rhenium</span><br>
            <span class="member_tw_link">@chigakuishi</span>
            <div style="clear:both;"></div>
          </div>
          <br><br><br>
                    <div class="member_desc">
            <img src="http://www.paper-glasses.com/api/twipi/kame_kun_/normal" class="imagec" width="46" height="46">
            <span class="member_name">kamekame</span><br>
            <span class="member_tw_link">@kame_kun_</span>
            <div style="clear:both;"></div>
          </div>
          <div class="member_desc">
            <img src="http://www.paper-glasses.com/api/twipi/toriimiyukki/normal" class="imagec" width="46" height="46">
            <span class="member_name">miyukki</span><br>
            <span class="member_tw_link">@toriimiyukki</span>
            <div style="clear:both;"></div>
          </div>
          <div class="member_desc">
            <img src="http://www.paper-glasses.com/api/twipi/oidong1/normal" class="imagec" width="46" height="46">
            <span class="member_name">oidong</span><br>
            <span class="member_tw_link">@oidong1</span>
            <div style="clear:both;"></div>
          </div>

        </div>
      </div>
    </div>
  </body>
</html>